html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
}

body{
    background: url('https://img.freepik.com/premium-vector/night-starry-sky-dark-blue-space-background-with-stars-clouds-vector-illustration_591120-62.jpg?semt=ais_hybrid');
    background-position: center;
    background-repeat:repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 95vh;
}

.card{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 15px;
}


.day-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    background: #ffffff24;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

header{
    text-align: center;
    color: white;
    font-size: 24px;
}

header input{
    font-weight: 400;
    font-size: 24px;
    width: 50%;
    background: #dadada53;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    backdrop-filter: blur(10px);
}

main{
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 80vh;
}

.today{
    text-transform: capitalize;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
}

.todayTemp{
    font-size: 72px;
}

.weather{
    font-size: 24px;
    display: flex;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
    font-weight: 300;
    gap: 10px;
}

.hours-weather{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #ffffff24;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.day{
    font-weight: 500;
    color: #a9c5ef;
}


.hours-weather h4{
    margin: 0;
    font-size: 20px;
    color: #b0b4c9;
    font-weight: 400;
    display: flex; 
    align-items: center;
    gap: 10px;
    line-height: 24px;
}

.hours{
    display: flex;
    overflow-x: scroll;
}

.hour{
    padding: 4%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hour-temp{
    font-size: 22px;
}

.icon{
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.details{
    margin-top: 30px;
    background: #ffffff24;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid #b0b4c979;
}

.row h5{
    margin: 0;
    color:#dadada;
    font-weight: 300;
    font-size: 24px;
    display: flex; 
    align-items: center;
    gap: 10px;
}